body{
  margin-top:0px !important;
  background:#d3d9e2;
  color: #432850;
  font-family: 'Luckiest Guy', cursive;
}
.panel.panel-default {
  border-top-width: 3px;
}

.textaligl {
  text-align: left;
}
.panel {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  border: 0;
  border-radius: 4px;
  margin-bottom: 16px;
}
.thumb96 {
  width: 96px!important;
  height: 96px!important;
}
.thumb48 {
  width: 48px!important;
  height: 48px!important;
}

.nodeco {
  text-decoration: none !important;
}
.row {
display: flex !important;
flex-wrap: nowrap !important;
justify-content: center !important;
}


/* Breadcrumb  */
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: #432850;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #432850;
text-decoration: underline;
}


.pt5 {
padding-top: 5% !important;
}

.pt7 {
padding-top: 7% !important;
}

.pt20 {
padding-top: 20%;
}

.pr50 {
padding-right: 50%;
}

.pt25px{
padding-top: 25px;
}

.pb5 {
padding-bottom: 5%;
}

.pb4px {
padding-bottom: 4px;
}

.wd70px {
width: 70px;
}

.htfitc {
height: fit-content;
}

.dislinblc {
display: inline-block;
}

.bgcllp {
background-color: #d5d5e9;
}

.bgcldp {
background-color: #7665c9;
}

.bgclp {
background-color: #E6E6FA;
}

.ftclff {
color: #ffffff;
}

.txtalir {
text-align: right;
}

.conyalig {
  align-content: right;
}

.br25px {
border-radius: 25px;
}

.fnt10 {
font-size: 10px !important;
}
/* #parent {
width: 300px;
height: 90px;
background-color: #666;
overflow-x: auto;
overflow-y: hidden;
} 
#childWrapper {
list-style: none;
width: 220px;
height: 80px;
margin: 0;
padding: 0;
overflow: hidden;
}
#childWrapper > li {
float: left;
width: 150px;
height: 80px;
}*/
path {
fill: transparent;
}
text {
text-align: center;
font-size: 35px;
padding-right: 20%;
fill: #432850;
}
.inline-block {
display: inline-block;
}

.accordion-button {
  padding: .60rem 1.25rem;
}
.pad-color-p {
padding-bottom: 4px !important;
color: #432850 !important;
background-color: #d5d5e9 !important;
}
.bgcolorp {
background-color: #d5d5e9 !important;
color: #432850 !important;
}
.pad-left15{
padding-left: 15px !important;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type='range'] {
overflow: hidden;
width: 100px;
height: 10px;
-webkit-appearance: none;
background-color: #E5E4E2;
}

input[type='range']::-webkit-slider-runnable-track {
height: 25px;
-webkit-appearance: none;
color: #7665c9;
margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
width: 8px;
-webkit-appearance: none;
height: 15px;
cursor: ew-resize;
background: #434343;
box-shadow: -80px 0 0 80px #7665c9;
}

} */
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #7665c9; 
}
input[type="range"]::-moz-range-track {  
background-color: #E5E4E2;
} */
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #7665c9; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #E5E4E2;
}

/* Test Slider*/
/* .range-slider.grad {
  --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
  --progress-flll-shadow: var(--progress-shadow);
  --fill-color: linear-gradient(to right, #432850, var(--primary-color));
  --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
    -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
    -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
    0 0 0 99px  var(--primary-color) inset;

  input {
    &:hover {
      --thumb-transform: scale(1.2);
    }

    &:active {
      --thumb-shadow: inherit;
      --thumb-transform: scale(1);
    }
  }
} */

/* We need to use ::ng-deep to overcome view encapsulation */
/*::ng-deep {*/
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
